.fab-add {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 200;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.form-group .input-control {
  flex: 1 1 auto;
  display: block;
  margin: 0 8px;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}